.table-custom {
    width: 100%;
    max-width: 100%;
    text-align: left;
    background: #ffffff;
    border-collapse: collapse;
}
.table-custom-detail{
    margin-top: 180px;
}
.table-cart {
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
}

.table-cart th {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 16px;
    font-weight: 500;
    color: #777777;
    background: #ffffff;
    border-bottom: 1px solid #e1e1e1;
}
.img-table{
    width: 100px;
    
}
.pieTabla{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
}
.group-md{
    align-items: center;
    display: flex;
    padding: 10px;
}
